@model RoleTopMVC.ViewModels.HistoricoViewModel
@{
    ViewData["Title"] = "Reservas - RoleTop";
    ViewData["H2"] = "Histórico de Eventos";
}

<main>
    <h2>@ViewData["H2"]</h2>
    <table>
        <thead>
            <tr>
                <td>Quantidade de Pessoas</td>
                <th>Data do Evento</th>
                <th>Tipo de Evento</th>
                <th>Nome do Evento</th>
            
            </tr>
        </thead>
        <tbody>
            @foreach ( var orcamento in Model.Orcamentos){
                <tr>
                  <td>@orcamento.Quantidade</td>
                  <td>@orcamento.Dataevento</td>
                  <td>@orcamento.Tipo_evento</td>
                    <td>@orcamento.Nome_evento</td>
                </tr>
            }
        </tbody>
    </table>

</main>